<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="icon" href="/images/h-yellow.jpg">
        <title>MyHockeyOnline</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">

    </head>
    <body>
       <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MyHockeyOnline</a>
            </div>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/league_news">League News</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Standings <span class="glyphicon glyphicon-chevron-down"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/standings/league_standings">League Standings</a></li>
                            <li><a href="/standings/conference_standings">Conference Standings</a></li> 
                       </ul>
                    </li>
                    <li><a href="/tryouts">Try Outs</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teams <span class="glyphicon glyphicon-chevron-down"></span></a>
                        <ul class="dropdown-menu">
                            <p class="navbar-text"><a href="#" class="navbar-link" style="color: #172A4D;"><strong>East</strong></a></p>
                            <li><a href="/teams/Pittsburgh">Pittsburgh </a></li>
                            <li><a href="/teams/Toronto">Toronto </a></li>
                            <li><a href="/teams/Boston">Boston </a></li>
                            <li><a href="/teams/Carolina">Carolina </a></li>
                            <li><a href="/teams/Chicago">Chicago </a></li>

                            <p class="navbar-text"><a href="#" class="navbar-link" style="color: #172A4D;"><strong>West</strong></a></p>
                            <li><a href="/teams/Dallas">Dallas </a></li>
                            <li><a href="/teams/Detroit">Detroit </a></li>
                            <li><a href="/teams/Edmonton">Edmonton </a></li>
                            <li><a href="/teams/Anaheim">Anaheim </a></li>
                            <li><a href="/teams/Arizona">Arizona </a></li>
<!--
                            <li><a href="/teams/Anaheim">Anaheim</a></li>
                            <li><a href="/teams/Arizona">Arizona</a></li>
                            <li><a href="/teams/Boston">Boston</a></li>
                            <li><a href="/teams/Calgary">Calgary</a></li>
                            <li><a href="/teams/Carolina">Carolina </a></li>
                            <li><a href="/teams/Chicago">Chicago </a></li>
                            <li><a href="/teams/Colorado">Colorado</a></li>
                            <li><a href="/teams/Columbus">Columbus</a></li>
                            <li><a href="/teams/Dallas">Dallas </a></li>
                            <li><a href="/teams/Detroit">Detroit </a></li>
                            <li><a href="/teams/Edmonton">Edmonton </a></li>
                            <li><a href="/teams/Florida">Florida</a></li>
                            <li><a href="/teams/LosAngeles">LosAngeles</a></li>
                            <li><a href="/teams/Minnesota">Minnesota</a></li>
                            <li><a href="/teams/Montreal">Montreal</a></li>
                            <li><a href="/teams/Nashville">Nashville</a></li>
                            <li><a href="/teams/Islanders">New York Islanders</a></li>
                            <li><a href="/teams/Rangers">New York Rangers</a></li>
                            <li><a href="/teams/Ottawa">Ottawa</a></li>
                            <li><a href="/teams/Philadelphia">Philadelphia</a></li>
                            <li><a href="/teams/Pittsburgh">Pittsburgh </a></li>
                            <li><a href="/teams/SanJose">San Jose</a></li>
                            <li><a href="/teams/StLouis">St. Louis</a></li>
                            <li><a href="/teams/TampaBay">Tampa Bay</a></li>
                            <li><a href="/teams/Toronto">Toronto</a></li>
                            <li><a href="/teams/Vancouver">Vancouver</a></li>
                            <li><a href="/teams/Vegas">Vegas</a></li>
                            <li><a href="/teams/Washington">Washington</a></li>
                            <li><a href="/teams/Winnipeg">Winnipeg</a></li>
-->

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Player <span class="glyphicon glyphicon-cog"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/">My Locker Room</a></li>
                            <li><a href="/users/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

