<%- include ../includes/mainheader %>

    <div class="container">
        <header class="jumbotron text-center">
            <h1> Conference Standings</h1>
        </header>

        <div class="page-header">
            <h1>Eastern Conference</h1>
        </div>

        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Team</th>
                        <th>Wins</th>
                        <th>Losses</th>
                        <th>Overtime Losses</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1st</td>
                        <td><a href="../teams/Carolina">Carolina</a></td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>2nd</td>
                        <td><a href="../teams/Chicago">Chicago</a></td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>3rd</td>
                        <td><a href="../teams/Toronto">Toronto</a></td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>4th</td>
                        <td><a href="../teams/Boston">Boston</a></td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>5th</td>
                        <td><a href="../teams/Pittsburgh">Pittsburgh</a></td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="page-header">
            <h1>Western Conference</h1>
        </div>

        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Team</th>
                        <th>Wins</th>
                        <th>Losses</th>
                        <th>Overtime Losses</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1st</td>
                        <td><a href="../teams/Anaheim">Anaheim</a></td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>2nd</td>
                        <td><a href="../teams/Dallas">Dallas</a></td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>3rd</td>
                        <td><a href="../teams/Edmonton">Edmonton</a></td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>4th</td>
                        <td><a href="../teams/Detroit">Detroit</a></td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>5th</td>
                        <td><a href="../teams/Arizona">Arizona</a></td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>





    <%- include ../includes/footer %>