<%- include('includes/mainheader') %>


    <header class="jumbotron text-center">
        <h1>Tryout Information</h1>
    </header>
    <div class="row">

        <!--ANAHEIM-->
        <div class="col-md-2">
            <div class="thumbnail">
                <img src="/logos/ducks.png" alt="columbus">
                <div class="caption">
                    <h3>Anaheim Ducks</h3>
                    <p>GM:</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button" id="myBtn1">Dates</a>
                    </p>
                </div>
            </div>
        </div>

        <!--CHICAGO-->
        <div class=" col-md-2">
            <div class="thumbnail ">
                <img src="/logos/blackhawks.png " alt="columbus ">
                <div class="caption ">
                    <h3>Chicago Blackhawks</h3>
                    <p>GM:</p>
                    <p><a href="# " class="btn btn-primary " role="button" id="myBtn1">Dates</a> </p>
                </div>
            </div>
        </div>

        <!--DETROIT-->
        <div class="col-md-2">
            <div class="thumbnail ">
                <img src="/logos/detroit.png " alt="columbus ">
                <div class="caption ">
                    <h3>Detroit Redwings</h3>
                    <p>GM:</p>
                    <p><a href="# " class="btn btn-primary " role="button" id="myBtn1">Dates</a> </p>
                </div>
            </div>
        </div>

        <!--BOSTON-->
        <div class="col-md-2">
            <div class="thumbnail ">
                <img src="/logos/boston.png " alt="columbus ">
                <div class="caption ">
                    <h3>Boston Bruins</h3>
                    <p>GM:</p>
                    <p><a href="# " class="btn btn-primary " role="button" id="myBtn1">Dates</a> </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!--DALLAS-->
        <div class="col-md-2 ">
            <div class="thumbnail ">
                <img src="/logos/dallas.png " alt="columbus ">
                <div class="caption ">
                    <h3>Dallas Stars</h3>
                    <p>GM:</p>
                    <p><a href="# " class="btn btn-primary " role="button " id="myBtn1">Dates</a> </p>
                </div>
            </div>
        </div>
        <!--EDMONTON-->
        <div class="col-md-2 ">
            <div class="thumbnail ">
                <img src="/logos/Edmonton.png " alt="columbus ">
                <div class="caption ">
                    <h3>Edmonton Oilers</h3>
                    <p>GM:</p>
                    <p><a href="# " class="btn btn-primary " role="button " id="myBtn1">Dates</a> </p>
                </div>
            </div>
        </div>

        <!--PITTSBURGH-->
        <div class="col-md-2 ">
            <div class="thumbnail ">
                <img src="/logos/pittsburgh.png " alt="columbus ">
                <div class="caption ">
                    <h3>Pittsburgh Penguins </h3>
                    <p>GM:</p>
                    <p><a href="# " class="btn btn-primary " role="button " id="myBtn1">Dates</a> </p>
                </div>
            </div>
        </div>
        <!--TORONTO-->
        <div class="col-md-2 ">
            <div class="thumbnail ">
                <img src="/logos/toronto.png" alt="columbus">
                <div class="caption ">
                    <h3>Toronto Maple Leafs</h3>
                    <p>GM:</p>
                    <p><a href="#" class="btn btn-primary" role="button" id="myBtn1">Dates</a> </p>
                </div>
            </div>
        </div>
    </div>




    <div class="row ">
        <div class="col-md-2 ">
            <div class="thumbnail ">
                <img src="/logos/arizona.png " alt="columbus">
                <div class="caption ">
                    <h3>Arizona Coyotes </h3>
                    <p>GM:</p>
                    <p><a href="# " class="btn btn-primary " role="button" id="myBtn1">Dates</a> </p>
                </div>
            </div>
        </div>


        <div class="col-md-2 ">
            <div class="thumbnail ">
                <img src="/logos/carolina.png " alt="columbus ">
                <div class="caption ">
                    <h3>Carolina Hurricanes</h3>
                    <p>GM:</p>
                    <p><a href="# " class="btn btn-primary " role="button" id="myBtn1">Dates</a> </p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding: 25px 30px;">
                    <button type="button" class="close btn-default" data-dismiss="modal">&times;
                            </button>
                    <h2>Team Tryout Dates</h2>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <h4><u>April 24th.</u></h4>
                        <p>12pm - 2pm</p>
                        <p>5pm - 7pm</p>
                        <p>9pm - 11pm</p>
                    </div>
                    <div class="container">
                        <h4><u>April 26th.</u></h4>
                        <p>12pm - 2pm</p>
                        <p>5pm - 7pm</p>
                        <p>9pm - 11pm</p>
                    </div>
                    <div class="container">
                        <h4><u>April 28th.</u></h4>
                        <p>12pm - 2pm</p>
                        <p>5pm - 7pm</p>
                        <p>9pm - 11pm</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Back</button>
                </div>
            </div>
        </div>
    </div>








    <%- include('includes/footer') %>
        <script>
            $(document).ready(function() {
                    $("#myBtn1").click(function() {
                        $("#myModal1").modal();
                    });
                }

            );
        </script>