<%- include('includes/loginheader') %>

    <div class="container">
        <header class="jumbotron text-center">
            <h1>MyOnlineHockey</h1>
            <p>A True EASHL League</p>
        </header>







        <%- include('includes/footer') %>