<%- include('includes/mainheader') %>
    <style>
        .nav-tabs {
            background-color: #222;
        }
        
        .nav-tabs li a {
            color: #fff;
            font-weight: bold;
        }
        
        .nav-tabs>li>a:hover {
            background-color: #999;
            font-weight: bold;
            color: #fff;
        }
        
        .nav-tabs>li.active>a,
        .nav-tabs>li.active>a:hover,
        .nav-tabs>li.active>a:focus {
            color: #000;
            background-color: #999;
            border: 1px solid #000;
            border-bottom-color: #000;
            cursor: default;
        }
    </style>

    <header class="jumbotron text-center">
        <h1>Tryout Information</h1>
    </header>
    <div class="container">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active"><a data-toggle="tab" href="#ana">Anaheim</a></li>
            <li role="presentation"><a data-toggle="tab" href="#ari">Arizona</a></li>
            <li role="presentation"><a data-toggle="tab" href="#bos">Boston</a></li>
            <li role="presentation"><a data-toggle="tab" href="#car">Carolina</a></li>
            <li role="presentation"><a data-toggle="tab" href="#chi">Chicago</a></li>
            <li role="presentation"><a data-toggle="tab" href="#dal">Dallas</a></li>
            <li role="presentation"><a data-toggle="tab" href="#det">Detroit</a></li>
            <li role="presentation"><a data-toggle="tab" href="#edm">Edmonton</a></li>
            <li role="presentation"><a data-toggle="tab" href="#pit">Pittsburgh</a></li>
            <li role="presentation"><a data-toggle="tab" href="#tor">Toronto</a></li>
        </ul>
    </div>


    <div class="tab-content">


        <div id="ana" class="tab-pane fade in active">
            <header class="page-header">
                <h1>Anaheim Ducks Tryout Dates</h1>
            </header>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/logos/ducks.png" alt="Ducks">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">Dates</h2>
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">April 21st</h4>
                            <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h2 class="list-group-item-heading">April 22nd</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">April 24th</h4>
                            <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">April 25th</h4>
                            <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="ari" class="tab-pane fade">
            <header class="page-header">
                <h1>Arizona Coyotes Tryout Dates</h1>
            </header>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/logos/arizona.png" alt="Ducks">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">Dates</h4>
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 21st</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 22nd</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 24th</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 25th</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                        </div>
                </div>
            </div>
        </div>

        <div id="bos" class="tab-pane fade">
            <header class="page-header">
                <h1>Boston Bruins Tryout Dates</h1>
            </header>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/logos/boston.png" alt="Ducks">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">Dates</h4>
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 21st</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 22nd</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 24th</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 25th</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                        </div>
                </div>
            </div>
        </div>

        <div id="car" class="tab-pane fade">
            <header class="page-header">
                <h1>Carolina Hurricanes Tryout Dates</h1>
            </header>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/logos/carolina.png" alt="Ducks">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">Dates</h4>
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 21st</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 22nd</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 24th</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 25th</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                        </div>
                </div>
            </div>
        </div>

        <div id="chi" class="tab-pane fade">
            <header class="page-header">
                <h1>Chicago Blackhawks Tryout Dates</h1>
            </header>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/logos/blackhawks.png" alt="Ducks">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">Dates</h4>
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 21st</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 22nd</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 24th</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 25th</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                        </div>
                </div>
            </div>
        </div>

        <div id="dal" class="tab-pane fade">
            <header class="page-header">
                <h1>Dallas Stars Tryout Dates</h1>
            </header>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/logos/dallas.png" alt="Ducks">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">Dates</h4>
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 21st</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 22nd</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 24th</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 25th</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                        </div>
                </div>
            </div>
        </div>

        <div id="det" class="tab-pane fade">
            <header class="page-header">
                <h1>Detroit Redwings Tryout Dates</h1>
            </header>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/logos/detroit.png" alt="Ducks">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">Dates</h4>
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 21st</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 22nd</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 24th</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 25th</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                        </div>
                </div>
            </div>
        </div>

        <div id="edm" class="tab-pane fade">
            <header class="page-header">
                <h1>Edmonton Oilers Tryout Dates</h1>
            </header>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/logos/edmonton.png" alt="Ducks">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">Dates</h4>
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 21st</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 22nd</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 24th</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 25th</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                        </div>
                </div>
            </div>
        </div>

        <div id="pit" class="tab-pane fade">
            <header class="page-header">
                <h1>Pittsburgh Penguins Tryout Dates</h1>
            </header>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/logos/pittsburgh.png" alt="Ducks">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">Dates</h4>
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 21st</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 22nd</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 24th</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 25th</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                        </div>
                </div>
            </div>
        </div>

        <div id="tor" class="tab-pane fade">
            <header class="page-header">
                <h1>Toronto Maple Leafs Tryout Dates</h1>
            </header>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/logos/toronto.png" alt="Ducks">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">Dates</h4>
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 21st</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 22nd</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 24th</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">April 25th</h4>
                                <p class="list-group-item-text">4:00pm - 6:30pm EST</p>
                            </a>
                        </div>
                </div>
            </div>
        </div>





        <%- include('includes/footer') %>