<link rel="icon" href="/images/h.jpg">
<link rel="stylesheet" href="/stylesheets/toronto.css">

<nav clas="navbar navbar-default" style="background-color: #fff;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-left" href="#"><img src="../images/emonton.png" alt="analogo"></a>
        </div>
    </div>
</nav>



<% include ../includes/lightheader %>

    <style>
        .jumbotron {
            background-color: #0038A8;
            color: #fff;
            border-bottom: 3px solid #E96D1F;
        }
        
        .page-header {
            border-bottom: 3px solid #E96D1F;
        }
        
        .nav-tabs {
            background-color: #E96D1F;
        }
        
        .nav-tabs li a {
            color: #fff;
            font-weight: bold;
        }
        
        .nav-tabs>li>a:hover {
            background-color: #0038A8;
            font-weight: bold;
            color: #fff;
        }
        
        .nav-tabs>li.active>a,
        .nav-tabs>li.active>a:hover,
        .nav-tabs>li.active>a:focus {
            color: #fff;
            background-color: #022241;
            border: 1px solid #022241;
            border-bottom-color: transparent;
            cursor: default;
        }
        
        .list-group-item.active,
        .list-group-item.active:hover,
        .list-group-item.active:focus {
            z-index: 2;
            color: #fff;
            background-color: #022241;
            border-color: #E96D1F;
        }
    </style>

    <div class="container">
        <header class="jumbotron text-center">
            <h1>Edmonton Oilers</h1>
        </header>

        <div class="container">
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" class="active"><a data-toggle="tab" href="#home">Team Home</a></li>
                <li role="presentation"><a data-toggle="tab" href="#roster">Roster</a></li>
                <li role="presentation"><a data-toggle="tab" href="#recent_games">Recent Games</a></li>
                <li role="presentation"><a data-toggle="tab" href="#top_scorers">Top Scorers</a></li>
                <li role="presentation"><a data-toggle="tab" href="#top_goalies">Top Goalies</a></li>
            </ul>

            <div class="tab-content">

                <!-- //=============\\
			    //  HOME         \\
			   //=================\\ -->
                <div id="home" class="tab-pane fade in active">
                    <header class="page-header">
                        <h1>Edmonton Oilers Home</h1>
                        <p>Overall Record: (0-0-0)</p>
                    </header>
                    <div class="row">
                        <div class="col-md-6">
                            <h3><u>Announcements</u></h3>
                            <div class="list-group">
                                <a href="#" class="list-group-item active">
                                    <h4 class="list-group-item-heading">(2:34pm Mon) Test Announcement</h4>
                                    <p class="list-group-item-text">This is a test announcement</p>
                                </a>

                                <a href="#" class="list-group-item">
                                    <h4 class="list-group-item-heading">(2:34pm Mon) Test Announcement</h4>
                                    <p class="list-group-item-text">This is a test announcement</p>
                                </a>

                                <a href="#" class="list-group-item">
                                    <h4 class="list-group-item-heading">(6:02am Wed) Team Announcement </h4>
                                    <p class="list-group-item-text">Team Announcement Info ......... </p>
                                </a>

                                <a href="#" class="list-group-item">
                                    <h4 class="list-group-item-heading">(6:02am Wed) Team Announcement </h4>
                                    <p class="list-group-item-text">Team Announcement Info ......... </p>
                                </a>

                                <a href="#" class="list-group-item">
                                    <h4 class="list-group-item-heading">(6:02am Wed) Team Announcement </h4>
                                    <p class="list-group-item-text">Team Announcement Info ......... </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- //=============\\
			    //  TEAM ROSTER  \\
			   //=================\\ -->
                <div id="roster" class="tab-pane fade">
                    <div class="container">
                        <h3>Roster</h3>
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Name</th>
                                    <th>Position</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>22</td>
                                    <td>SumJuan</td>
                                    <td>Center</td>
                                </tr>
                                <tr>
                                    <td>78</td>
                                    <td>TheName</td>
                                    <td>Left Wing</td>
                                </tr>
                                <tr>
                                    <td>66</td>
                                    <td>WhoDis</td>
                                    <td>Right Wing</td>
                                </tr>
                                <tr>
                                    <td>58</td>
                                    <td>WhoCares</td>
                                    <td>Defense</td>
                                </tr>
                                <tr>
                                    <td>99</td>
                                    <td>DmanDennis</td>
                                    <td>Defense</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>BrickWall</td>
                                    <td>Goalie</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- //=============\\
			    //  RECENT GAMES \\
			   //=================\\ -->
                <div id="recent_games" class="tab-pane fade">
                    <div class="container">
                        <header class="page-container">
                            <h3>Last 10 Games (0-0-0)</h3>
                        </header>
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Result</th>
                                    <th>Home</th>
                                    <th>Away</th>
                                    <th>Final</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td><a href="#">Team</a></td>
                                    <td><a href="#">Team</a></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="#">Team</a></td>
                                    <td><a href="#">Team</a></td>
                                    <td>0 : 0</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="#">Team</a></td>
                                    <td><a href="#">Team</a></td>
                                    <td>0 : 0</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="#">Team</a></td>
                                    <td><a href="#">Team</a></td>
                                    <td>0 : 0</td>
                                    <tr>
                                        <td></td>
                                        <td><a href="#">Team</a></td>
                                        <td><a href="#">Team</a></td>
                                        <td>0 : 0</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><a href="#">Team</a></td>
                                        <td><a href="#">Team</a></td>
                                        <td>0 : 0</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><a href="#">Team</a></td>
                                        <td><a href="#">Team</a></td>
                                        <td>0 : 0</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><a href="#">Team</a></td>
                                        <td><a href="#">Team</a></td>
                                        <td>0 : 0</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><a href="#">Team</a></td>
                                        <td><a href="#">Team</a></td>
                                        <td>0 : 0</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><a href="#">Team</a></td>
                                        <td><a href="#">Team</a></td>
                                        <td>0 : 0</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>



                <!-- //=============\\
			    //  TOP SCORERS  \\
			   //=================\\ -->
                <div id="top_scorers" class="tab-pane fade">
                    <div class="container">
                        <header class="page-header">
                            <h3>Edmontons Top Scorers</h3>
                        </header>
                        <div class="media">
                            <div class="media-left">
                                <img src="../images/skater1.png" alt="img_avatar1">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">No Stats Entered</h4>
                                <p>0 Goals | 0 Assists | 0 Points</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img src="../images/skater2.png" alt="img_avatar2">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">No Stats Entered</h4>
                                <p>0 Goals | 0 Assists | 0 Points</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img src="../images/skater3.png" alt="img_avatar3">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">No Stats Entered</h4>
                                <p>0 Goals | 0 Assists | 0 Points</p>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- //=============\\
			    //  TOP GOALIES  \\
			   //=================\\ -->
                <div id="top_goalies" class="tab-pane fade">
                    <div class="container">
                        <header class="page-header">
                            <h3>Edmonton's Top Goalies</h3>
                        </header>
                        <div class="media">
                            <div class="media-left">
                                <img src="../images/skater1.png" alt="img_avatar1">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">No Stats Entered</h4>
                                <p>0 GAA | 0 Save % | 0 Wins</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img src="../images/skater2.png" alt="img_avatar2">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">No Stats Entered</h4>
                                <p>0 GAA | 0 Save % | 0 Wins</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img src="../images/skater3.png" alt="img_avatar3">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">No Stats Entered</h4>
                                <p>0 GAA | 0 Save % | 0 Wins</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include ../includes/footer %>